# Exemplo de variáveis de ambiente do app
GEMINI_API_KEY=

# Configurações do seu projeto Firebase existente
VITE_FIREBASE_API_KEY=AIzaSyDN_OnqiFWPFQ85re04rZzxalq29fnVRdw
VITE_FIREBASE_AUTH_DOMAIN=barbearia-f861e.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=barbearia-f861e
VITE_FIREBASE_STORAGE_BUCKET=barbearia-f861e.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=13820616691
VITE_FIREBASE_APP_ID=1:13820616691:web:689f11f9ec2b45546d7c86

