rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /barbers/{document} {
      allow read, write: if true;
    }
    match /services/{document} {
      allow read, write: if true;
    }
    match /configs/{document} {
      allow read, write: if true;
    }
    match /appointments/{document} {
      allow read, write: if true;
    }
    match /blockedSlots/{document} {
      allow read, write: if true;
    }
  }
}
